<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Analyze Articles</title>
  </head>

  <body>
    <div class="url-box">
      <h2>Evaluate Article</h2>
      <form>
        <div class="input-box">
          <input type="text" name="" required="" />
          <label>URL</label>
        </div>

        <a class="btn" onclick="return Client.handleSubmit(event)">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          Analyze
        </a>
      </form>
    </div>

    <div class="result">
      <p>Agreement: <span class="agr"> </span></p>
      <p>Confidence: <span class="conf"></span></p>
      <p>Subjectivity: <span class="sbj"></span></p>
      <p>Irony: <span class="irn"></span></p>
    </div>

    <script>
      if ("serviceWorker" in navigator) {
        window.addEventListener("load", () => {
          navigator.serviceWorker.register("/service-worker.js");
        });
      }
    </script>
  </body>
</html>
